@{
    ViewData["Title"] = "Home Page";
}

<h1 style="margin-top: 50px">
    HiP-Auth-v2 service
</h1>

<p>
    Authorization service powered by IdentiyServer4.
</p>
<p>
    <a href="https://github.com/HiP-App/HiP-Auth-v2">View on Github</a>
</p>
